@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    color:#3A3A3A;
}
/* Header css */
.heading {
    display: flex;
    justify-content: space-between;
}
.influencer-products {
    margin-top: 87px;
    margin-left: 120px;
}
.nav {
  margin-top: 95px;
  margin-right: 120px;
}
.menu {
    text-decoration: none;
    color:#3A3A3A;
    margin: 0 20px;
}
/* Header ends  */
/* Introduction to the Journey(first section */
.container {
    display: flex;
    justify-content: space-between;
}
.first-tag {
    width: 582px;
    height: 270px;
    margin-top: 146px;
    margin-left: 120px;
}
.start-journey {
    font-size: 52px;
margin-bottom: 0px;
}
.lorem {
    font-size: 16px;
    margin-bottom: 30px;
}
.prebook {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
}
.camera {
    margin-top: 80px;
    margin-right: 165px;
}
/* First section done  */
/* Second section- the brand names  */
.logos {
    display: flex;
    justify-content: center;
    margin: 185px 165px 100px 165px;
}
.logos img {
    margin-right: 60px;}